/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');


 /*colors*/
 :root {
     /*(hero, footer, text)*/
     --dark: #000000;
     
     /*Main Text*/ 
     --main: #ffffff;
 
     /*Logo Text*/
     --logo : #F9FAF8;
 
     /*Button color*/
     --action : #d10a00;
 
     /*Information Header Text*/
     --info : #1F2937;
 
     /*Quote Section*/
     --quote : #7081b9;
 
     /*Shapes*/
     --shape :#FDF7FA;
   }

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}
 
body{
    font-family: 'Poppins'; 
}

h1, h2{
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
}


/*Navbar*/
.navbar{
    height: 65px;
    color: var(--main);
    background-color: var(--dark);
    border-bottom: 1px solid rgb(229, 231, 235, .20);
}

.navbar .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
 
.navbar .logo{
    color: var(--logo);
    font-size: 28px;
    font-weight: 400;
}
   
.navbar ul{
    display: flex;
    gap: 20px;
    font-weight: 100;
}
 
.navbar a{
    color: var(--main);
    text-decoration: none;
 
}
 

/*Header*/
.header{
    background-color: var(--dark); 
    overflow: hidden;
}


.header .container{
   display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: 0px auto;
    padding: 30px 75px 0px 75px;    
}
  
.header .wrapper{
   padding-left: 10px;
    max-width:480px ;
}
   
.header img{ 
    max-width:  700px;
    padding-top: 50px;
     
}

.header .announcement {
    opacity: 35%;
}

.header h1{
    color: var(--main);
    font-weight: 200;
    font-size: 64px;
    line-height: 1;
}
 
 
.header p{
    color: var(--main);
    margin: 0px 0px;
    font-size: 16px;
    font-weight: 100;
}

.header button{
    background: var(--action);
    color: white;
    border-radius: 15px;
    border: 0;
    margin-top: 20px;
    padding: 12px 35px;
}


/*Curve between header and products*/
.wave {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 100px;
}

.wave .shape-fill {
    fill: var(--dark);
}  


/*Product Section*/
.products{
    background-color: #E6E6E6;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
}

.products_title{
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
    color: var(--main);
}

.products .container{
    display: flex;
    justify-content:center;
    align-items: center;
}

.card{
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    width: 350px;
    margin: 40px 20px 90px 20px;
    border-radius: 15px;
    background: white;
    color: var(--dark);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
}


.card .imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
}

.card .imgbox img{
    width: 80%; 
}

.card .content{
    display: flex;
    flex: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.content, .card h1 h2{
    justify-content: center;
}

.card h1{
    font-weight: 700;
    font-size: 22px;
}

.card h2{
    font-weight: 400;
    font-size: 18px;
}





















/*media queries*/
@media(max-width: 800px){
.header .container{
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    }
    .header .announcement{
        padding-top: 35px;
    }
}


@media(max-width: 1200px){
.header img{
    max-width: 55%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;     
    }
}


@media(max-width: 720px){
.products .container{
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

    }
}